<ion-content>
  <ion-list-header>
    <ion-label>Hoja de vida</ion-label>
  </ion-list-header>
  <ion-grid>
  </ion-grid>
  <ion-grid>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="back">
        <ion-grid class="bordes">
        <ion-row>
        <ion-col>
        <img class="foto" src="./assets/val.jpg">
        </ion-col>
        <h1 class="titulo">Laura Ovalle </h1>
        </ion-row>
        </ion-grid>
        <br>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Sobre Mi</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h5>Como estudiante de análisis y desarrollo software de quinto trimestre cuento con la habilidad de analizar y diseñar sistemas de información. Tengo conocimientos básicos en programación y base de datos orientados a proyectos institucionales.</h5>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Programa de formación</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h5>Tecnólogo en análisis y desarrolo de software</h5>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ficha</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h5>2503816</h5>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Edad</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h5>18 años</h5>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Teléfono</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h5>3006028226</h5>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Dirección</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bordes">
          <ion-row>
        <ion-col class="Programa">
          <h3>Carrera 106 #16i 45</h3>
        </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-row>
        <ion-button class="proyectos" (click)="goToProyectos()">Proyectos</ion-button>
        <ion-button class="Multimedia" (click)="goToMultimedia()">Multimedia</ion-button>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <div></div>
    </ion-col>
    <ion-col size="3">
      <div></div>
    </ion-col>
  </ion-row>
</ion-content>
