<ion-content class="fondo">
  <ion-list-header>
    <ion-label>Proyectos</ion-label>
  </ion-list-header>
  <ion-grid class="margen1">
      <br>
      <br>
      <ion-row>
      <ion-card class="carta1">
          <img alt="Evaseg" src="./assets/evaseg.png" />
          <ion-card-header>
            <ion-card-title>Evaseg</ion-card-title>
            <ion-card-subtitle>Proyecto formativo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Página web que automatiza los procesos del comite de evaluación y seguimiento del SENA.
          </ion-card-content>
        </ion-card>
        <ion-grid class="margen2">
        <ion-card class="carta1">
          <img alt="Pumas" src="./assets/pumas3.png" />
          <ion-card-header>
            <ion-card-title>Pumas</ion-card-title>
            <ion-card-subtitle>Proyecto Frontend</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Página web informativa a cerca de el equipo pumas de futbol americano de Bogotá.
          </ion-card-content>
        </ion-card>
        </ion-grid>
        <ion-grid class="margen">
        <ion-card class="carta1">
          <img alt="Silhouette of mountains" src="./assets/carta4.png" />
          <ion-card-header>
            <ion-card-title>Adminty</ion-card-title>
            <ion-card-subtitle>Proyecto Frontend</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Dashboard a cerca de estadisticas de una empresa.
          </ion-card-content>
        </ion-card>
        </ion-grid>
      </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-row>
    <ion-grid>
    <ion-grid class="margen1">
      <div class="linea"></div>
      <br>
      <br>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Herramientas</ion-card-title>
          <ion-card-subtitle>Se usaron los siguientes frameworks y lenguajes para el desarrollo de los proyectos</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="./assets/html.png" />
              </ion-thumbnail>
              <ion-label>HTML</ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="./assets/css.png" />
              </ion-thumbnail>
              <ion-label>CSS</ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="./assets/angular.png" />
              </ion-thumbnail>
              <ion-label>ANGULAR</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="./assets/bootstrap.png" />
              </ion-thumbnail>
              <ion-label>BOOTSTRAP</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    </ion-grid>
  </ion-row>
</ion-content>
