ion-list-header {
    --background: #94b8a6;
    --color: black;
    height: 80px;
    font-size: 40px;
}

.carta1{
    width: 400px;
    height: 400px;
}

.margen1{
    padding-left: 60px;
    padding-right: 60px;
}

.margen2{
    padding-left: 60px;
}

.linea {
    border-bottom: 1px solid  black;
    width: 1400px;
    
}

.fondo{
    --background:#f3efef;
}
