.fondo{
    --background:#f3efef;
}
ion-card-title{
    color: black;
    font-size: 30px;
    padding-left: 140px;
}

.background{
    background: #94b8a6
}

.login{
    width: 500px;
    height: 400px;
}

.margen{
    padding-top: 90px;
    padding-left: 500px;
}

ion-button {
    --background: #94b8a6;
    color: white;
}

.saludo{
    color: black;
    font-size: 40px;
    padding-left: 140px;
}