<ion-content class="fondo">
  <ion-list-header>
    <ion-label>Multimedia</ion-label>
  </ion-list-header>
    <ion-row>
      <ion-grid class="margen">
        <p class="titulo">Evaseg</p>
        <div class="linea"></div>
      </ion-grid>
    </ion-row>
    <ion-grid class="margen">
    <div class="linea"></div>
    </ion-grid>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-grid class="margen3">
    <ion-card class="foto1">
      <img alt="Silhouette of mountains" src="/assets/foto1.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
      </ion-grid>
    <ion-grid class="margen3">
    <ion-card class="foto1">
      <img alt="Silhouette of mountains" src="/assets/foto2.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-grid class="margen3">
    <ion-card class="foto1">
      <img alt="Silhouette of mountains" src="/assets/foto3.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
  </ion-grid>
    </ion-row>
    <ion-row>
<ion-grid class="margen">
  <p class="titulo">Pumas</p>
  <div class="linea"></div>
</ion-grid>
</ion-row>
<ion-grid class="margen">
<div class="linea"></div>
</ion-grid>
<br>
<br>
<ion-row>
      <ion-grid class="margen3">
    <ion-card class="foto2">
      <img alt="Silhouette of mountains" src="/assets/imagen1.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
      </ion-grid>
    <ion-grid class="margen3">
    <ion-card class="foto2">
      <img alt="Silhouette of mountains" src="/assets/imagen2.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-grid class="margen3">
    <ion-card class="foto2">
      <img alt="Silhouette of mountains" src="/assets/imagen3.png" />
      <ion-card-header>
      </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
  </ion-grid>
    </ion-row>
