ion-list-header {
    --background: #94b8a6;
    --color: black;
    height: 80px;
    font-size: 40px;
}

.titulo{
    padding-left: 150px;
    font-size: 50px;
}

.linea {
    border-bottom: 5px solid  #94b8a6;
    width: 500px;
    padding-left: 50px;
    
}

.margen{
    padding-left: 500px;
    padding-top: 10px;
}

.carta1{
    width: 400px;
    height: 400px;
}

.margen1{
    padding-left: 60px;
    padding-right: 60px;
}

.foto1{
    width: 450px;
    height: 250px;
}

.margen3{
    padding-left: 20px;
}

.foto2{
    width: 450px;
    height: 350px;
}
